<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;

            }
    </style>
</head>
<body>

    <div class="center" >
        <h2>Login Page</h2>


        <form method="POST" id="loginForm">
            {% csrf_token %}
            <p><input type="text" name="name" placeholder="Name" /></p>
            <p><input type="text" name="rollno" placeholder="Rollno" /></p>

            <p><input type="submit" value="Go" /></p>
        </form>

    </div>
    
</body>
</html>